<% tabs = visible_tabs %>
<% if tabs.any? %>
  <% tabs_id = "tabs-#{@resource.class.name.downcase}-#{@resource.id}" %>
  <div id="<%= tabs_id %>" data-controller="tabs" data-turbo-cache="false"
       data-tabs-fetch-url-value="<%= resource_path %>"
       data-tabs-resource-id-value="<%= @resource.id %>"
       data-tabs-resource-type-value="<%= @resource.class.name %>">
    <div class="border-b border-gray-200 px-6">
      <nav class="-mb-px flex gap-6" aria-label="Tabs">
        <% tabs.each do |tab| %>
          <% active = (tab[:key] == initial_active_key) %>
          <a href="#"
             class="whitespace-nowrap border-b-2 px-1 py-4 text-sm font-medium <%= active ? 'border-brand-500 text-brand-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300' %>"
             data-action="click->tabs#switch"
             data-tabs-target="tab"
             aria-selected="<%= active %>"
             data-key="<%= tab[:key] %>">
            <%= tab[:title] %>
          </a>
        <% end %>
      </nav>
    </div>

    <div class="p-4 sm:p-6" data-tabs-target="panes" data-turbo-cache="false">
      <% tabs.each do |tab| %>
        <div data-key="<%= tab[:key] %>" data-turbo-cache="false" style="<%= 'display:none;' unless tab[:key] == initial_active_key %>">
          <%= render partial: tab[:partial], locals: (tab[:locals] || {}) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
