<%= render ::Layouts::AuthComponent.new(title: "Redefinir senha") do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    
    <div class="space-y-4">
      <div class="text-center mb-6">
        <p class="text-sm text-gray-600">
          Digite sua nova senha abaixo.
        </p>
      </div>
      
      <div>
        <%= f.label :password, "Nova senha", class: "block text-sm mb-1" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "ta-input w-full" %>
        <% if @minimum_password_length %>
          <p class="text-xs text-gray-500 mt-1">Mínimo de <%= @minimum_password_length %> caracteres</p>
        <% end %>
      </div>
      
      <div>
        <%= f.label :password_confirmation, "Confirmar nova senha", class: "block text-sm mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "ta-input w-full" %>
      </div>
      
      <div>
        <%= f.submit "Alterar senha", class: "ta-btn ta-btn-primary w-full" %>
      </div>
      
      <div class="text-center mt-4">
        <%= link_to "Voltar ao login", new_session_path(resource_name), class: "text-sm text-brand-600 hover:underline" %>
      </div>
    </div>
  <% end %>
<% end %>
