<aside class="sidebar fixed top-0 left-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-auto border-r border-gray-200 bg-white px-5 transition-all duration-300 xl:static xl:translate-x-0 dark:border-gray-800 dark:bg-black">
  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header flex items-center justify-center pt-8 pb-7">
    <a href="/admin">
      <span class="logo">
        <%= image_tag "logo.png", class: "h-12 w-auto", alt: "Integrar Plus" %>
      </span>
    </a>
  </div>

  <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav>
      <!-- Menu Group -->
      <div class="mb-8">
        <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
          <span class="menu-group-title">

          </span>
        </h3>

        <ul class="flex flex-col gap-2">
          <% menu_items.each do |item| %>
            <li>
              <a
                href="<%= item[:path] %>"
                class="<%= helpers.sidebar_menu_item_classes(item[:path], 'menu-item group') %>"
              >
                <%= item[:icon].html_safe %>
                <span class="menu-item-text">
                  <%= item[:title] %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- Promo Box -->

  </div>
</aside>
