<div class="flex h-full w-full flex-col overflow-y-auto px-4 transition-all duration-300">
  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header flex items-center gap-3 pt-6 pb-6 border-b border-gray-200 dark:border-gray-700">
    <a href="/admin" class="flex items-center gap-3">
      <div class="w-8 h-8 bg-blue-600 rounded-lg flex items-center justify-center">
        <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
          <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"/>
        </svg>
      </div>
      <span class="text-xl font-bold text-gray-900 dark:text-white">Integrar Plus</span>
    </a>
  </div>

  <div class="flex flex-col overflow-y-auto py-4">
    <!-- Sidebar Menu -->
    <nav class="space-y-2">
      <!-- Menu Group -->
      <div>
        <h3 class="menu-group-title px-4 mb-3">
          
        </h3>

        <ul class="mb-6 flex flex-col gap-1">
          <!-- Menu Item Dashboard -->
          <li data-sidebar-group="Dashboard">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Dashboard"
              data-sidebar-target="groupButton"
              aria-expanded="<%= helpers.sidebar_group_expanded?(['/admin/dashboard']) %>"
              aria-label="Alternar grupo Dashboard"
              class="<%= helpers.sidebar_group_classes(['/admin/dashboard']) %>"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.5 3.25C4.25736 3.25 3.25 4.25736 3.25 5.5V8.99998C3.25 10.2426 4.25736 11.25 5.5 11.25H9C10.2426 11.25 11.25 10.2426 11.25 8.99998V5.5C11.25 4.25736 10.2426 3.25 9 3.25H5.5ZM4.75 5.5C4.75 5.08579 5.08579 4.75 5.5 4.75H9C9.41421 4.75 9.75 5.08579 9.75 5.5V8.99998C9.75 9.41419 9.41421 9.74998 9 9.74998H5.5C5.08579 9.74998 4.75 9.41419 4.75 8.99998V5.5ZM5.5 12.75C4.25736 12.75 3.25 13.7574 3.25 15V18.5C3.25 19.7426 4.25736 20.75 5.5 20.75H9C10.2426 20.75 11.25 19.7427 11.25 18.5V15C11.25 13.7574 10.2426 12.75 9 12.75H5.5ZM4.75 15C4.75 14.5858 5.08579 14.25 5.5 14.25H9C9.41421 14.25 9.75 14.5858 9.75 15V18.5C9.75 18.9142 9.41421 19.25 9 19.25H5.5C5.08579 19.25 4.75 18.9142 4.75 18.5V15ZM12.75 5.5C12.75 4.25736 13.7574 3.25 15 3.25H18.5C19.7426 3.25 20.75 4.25736 20.75 5.5V8.99998C20.75 10.2426 19.7426 11.25 18.5 11.25H15C13.7574 11.25 12.75 10.2426 12.75 8.99998V5.5ZM15 4.75C14.5858 4.75 14.25 5.08579 14.25 5.5V8.99998C14.25 9.41419 14.5858 9.74998 15 9.74998H18.5C18.9142 9.74998 19.25 9.41419 19.25 8.99998V5.5C19.25 5.08579 18.9142 4.75 18.5 4.75H15ZM15 12.75C13.7574 12.75 12.75 13.7574 12.75 15V18.5C12.75 19.7426 13.7574 20.75 15 20.75H18.5C19.7426 20.75 20.75 19.7427 20.75 18.5V15C20.75 13.7574 19.7426 12.75 18.5 12.75H15ZM14.25 15C14.25 14.5858 14.5858 14.25 15 14.25H18.5C18.9142 14.25 19.25 14.5858 19.25 15V18.5C19.25 18.9142 18.9142 19.25 18.5 19.25H15C14.5858 19.25 14.25 18.9142 14.25 18.5V15Z"
                  fill="currentColor"
                />
              </svg>

              <span class="menu-item-text">
                Dashboard
              </span>

              <svg class="menu-item-arrow" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </a>

            <ul
              data-sidebar-dropdown
              class="<%= helpers.sidebar_dropdown_classes(['/admin/dashboard'], 'menu-dropdown mt-2 flex flex-col gap-1 pl-9 transition-all duration-300 ease-in-out') %>"
            >
              <li>
                <a
                  href="/admin/dashboard"
                                      class="<%= helpers.sidebar_menu_item_classes('/admin/dashboard', 'menu-dropdown-link group') %>"
                >
                  <svg
                    class="menu-dropdown-link-icon"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.50008 18.9584C12.2026 18.9584 16.0417 15.1194 16.0417 10.4168C16.0417 5.71423 12.2026 1.87516 7.50008 1.87516C2.79751 1.87516 -1.04156 5.71423 -1.04156 10.4168C-1.04156 15.1194 2.79751 18.9584 7.50008 18.9584ZM10.8324 12.9834C11.0545 12.7613 11.0545 12.4027 10.8324 12.1806L8.45742 9.80556H13.9584C14.2728 9.80556 14.5251 9.55325 14.5251 9.23889C14.5251 8.92453 14.2728 8.67222 13.9584 8.67222H8.45742L10.8324 6.29722C11.0545 6.07514 11.0545 5.71653 10.8324 5.49444C10.6103 5.27236 10.2517 5.27236 10.0296 5.49444L6.47116 9.05289C6.24908 9.27497 6.24908 9.63358 6.47116 9.85566L10.0296 13.4141C10.2517 13.6362 10.6103 13.6362 10.8324 12.9834Z"
                      fill="currentColor"
                    />
                  </svg>
                  <span class="menu-dropdown-link-text">Analytics</span>
                </a>
              </li>
            </ul>
          </li>
          <!-- Menu Item Dashboard -->

          <!-- Menu Item Profissionais -->
          <li data-sidebar-group="Profissionais">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Profissionais"
              data-sidebar-target="groupButton"
              aria-expanded="<%= helpers.sidebar_group_expanded?(['/admin/professionals']) %>"
              aria-label="Alternar grupo Profissionais"
              class="<%= helpers.sidebar_group_classes(['/admin/professionals']) %>"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="9"
                  cy="7"
                  r="4"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22 21v-2a4 4 0 0 0-3-3.87"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16 3.13a4 4 0 0 1 0 7.75"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Profissionais
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="<%= helpers.sidebar_dropdown_classes(['/admin/professionals'], 'translate transform overflow-hidden transition-all duration-300 ease-in-out') %>"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/professionals"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Profissionais</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/professionals/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Novo Profissional</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Profissionais -->

          <!-- Menu Item Especialidades -->
          <li data-sidebar-group="Especialidades">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Especialidades"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Especialidades"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22 12h-4l-3 9L9 3l-3 9H2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Especialidades
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/specialities"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Especialidades</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/specialities/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Nova Especialidade</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Especialidades -->

          <!-- Menu Item Especializações -->
          <li data-sidebar-group="Especializações">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Especializações"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Especializações"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <polyline
                  points="14,2 14,8 20,8"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="16"
                  x2="8"
                  y1="13"
                  y2="13"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="16"
                  x2="8"
                  y1="17"
                  y2="17"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Especializações
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/specializations"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Especializações</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/specializations/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Nova Especialização</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Especializações -->

          <!-- Menu Item Tipos de Contrato -->
          <li data-sidebar-group="Tipos de Contrato">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Tipos de Contrato"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Tipos de Contrato"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <polyline
                  points="14,2 14,8 20,8"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="16"
                  x2="8"
                  y1="13"
                  y2="13"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="16"
                  x2="8"
                  y1="17"
                  y2="17"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Tipos de Contrato
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/contract_types"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Tipos</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/contract_types/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Novo Tipo</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Tipos de Contrato -->
        </ul>
      </div>

      <!-- Support Group -->
      <div>
        <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
          <span
            class="menu-group-title"
          >
            Support
          </span>

          <svg
            class="menu-group-icon mx-auto fill-current hidden"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z"
              fill="currentColor"
            />
          </svg>
        </h3>

        <ul class="mb-6 flex flex-col gap-1">
          <!-- Menu Item Configurações -->
          <li data-sidebar-group="Configurações">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Configurações"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Configurações"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="12"
                  cy="12"
                  r="3"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Configurações
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/settings"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Configurações Gerais</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/settings/security"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Segurança</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Configurações -->

          <!-- Menu Item Usuários -->
          <li data-sidebar-group="Usuários">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Usuários"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Usuários"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="9"
                  cy="7"
                  r="4"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22 21v-2a4 4 0 0 0-3-3.87"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16 3.13a4 4 0 0 1 0 7.75"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Usuários
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/users"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Usuários</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/users/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Novo Usuário</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Usuários -->

          <!-- Menu Item Integrações -->
          <li data-sidebar-group="Integrações">
            <a
              href="#"
              role="button"
              tabindex="0"
              data-action="click->sidebar#toggleGroup keydown->sidebar#handleKeydown"
              data-sidebar-name-param="Integrações"
              data-sidebar-target="groupButton"
              aria-expanded="false"
              aria-label="Alternar grupo Integrações"
              class="menu-item group"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="18"
                  height="11"
                  x="3"
                  y="11"
                  rx="2"
                  ry="2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="12"
                  cy="5"
                  r="2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 7v4"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="menu-item-text">
                Integrações
              </span>

              <span
                class="absolute right-10 flex items-center gap-1"
              >
                <span
                  class="menu-dropdown-badge menu-dropdown-badge-active"
                >
                  New
                </span>
              </span>

              <svg
                class="menu-item-arrow"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu Start -->
            <div
              data-sidebar-dropdown
              class="translate transform overflow-hidden hidden"
            >
              <ul
                class="menu-dropdown mt-2 flex flex-col gap-1 pl-9"
              >
                <li>
                  <a
                    href="/admin/integrations"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Lista de Integrações</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/admin/integrations/new"
                    class="menu-dropdown-link group"
                  >
                    <svg
                      class="menu-dropdown-link-icon"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="menu-dropdown-link-text">Nova Integração</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Integrações -->
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->

    <!-- Promo Box -->
    <div
      class="mx-auto mb-10 w-full max-w-60 rounded-2xl bg-gray-50 px-4 py-5 text-center dark:bg-white/[0.03]"
    >
      <div class="mb-4 flex justify-center">
        <img
          class="h-12 w-12"
          src="/images/logo/logo-icon.svg"
          alt="Logo"
        />
      </div>
      <h5 class="mb-2 text-base font-semibold text-black dark:text-white">
        TailAdmin
      </h5>
      <p class="mb-4 text-sm text-body-color dark:text-body-color-dark">
        Get started with TailAdmin
      </p>
      <a
        href="javascript:void(0)"
        class="inline-block rounded-lg bg-primary px-4 py-2 text-sm font-medium text-white hover:bg-opacity-90"
      >
        Get Pro
      </a>
    </div>
    <!-- Promo Box -->
  </div>
</div>
