<aside
  data-controller="sidebar"
  data-action="click@window->sidebar#outside"
  class="sidebar fixed top-0 left-0 z-[9998] w-72 transform border-r bg-white transition-transform duration-300 dark:bg-black dark:border-gray-800 xl:static xl:transform-none flex h-screen flex-col overflow-y-auto px-5">
  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header flex items-center justify-center pt-8 pb-7">
    <a href="/admin">
      <span class="logo">
        <%= image_tag "logo.png", class: "h-12 w-auto", alt: "Integrar Plus" %>
      </span>
    </a>
  </div>

  <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav>
      <!-- Menu Group -->
      <div class="mb-8">
        <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
          <span class="menu-group-title">

          </span>
        </h3>

        <ul class="flex flex-col gap-2">
          <% menu_items.each do |item| %>
            <li>
              <a
                href="<%= item[:path] %>"
                class="<%= helpers.sidebar_menu_item_classes(item[:path], 'menu-item group') %>"
              >
                <%= item[:icon].html_safe %>
                <span class="menu-item-text">
                  <%= item[:title] %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- Promo Box -->

  </div>
</aside>

<!-- Mobile Overlay -->
<div
  data-sidebar-target="overlay"
  class="fixed inset-0 z-40 bg-gray-900/50 hidden xl:hidden transition-opacity duration-300"
></div>
