<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= content_for(:title) || "Integrar Plus - Admin" %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag "entrypoints/application" %>
  </head>

  <body
    data-controller="header"
    data-header-dark-mode-value="false"
    data-header-sidebar-toggle-value="false"
    data-header-menu-toggle-value="true"
    data-header-loaded-value="false"
    x-data="{ sidebarToggle: false, menuToggle: true, darkMode: false, loaded: false }"
    class=""
  >


    <!-- ===== Page Wrapper Start ===== -->
    <div class="flex h-screen overflow-hidden">
      <!-- ===== Sidebar Start ===== -->
      <%= render Ui::SidebarComponent.new(current_path: request.path) %>
      <!-- ===== Sidebar End ===== -->

      <!-- ===== Content Area Start ===== -->
      <div class="relative flex flex-1 flex-col overflow-x-hidden overflow-y-auto z-10">
        <!-- Small Device Overlay Start -->
        <div
          :class="sidebarToggle ? 'block xl:hidden' : 'hidden'"
          x-cloak
          class="fixed z-50 h-screen w-full bg-gray-900/50"
        ></div>
        <!-- Small Device Overlay End -->

        <!-- ===== Main Content Start ===== -->
        <main class="pt-16">
          <!-- ===== Header Start ===== -->
          <%= render Ui::HeaderComponent.new(user: current_user) %>
          <!-- ===== Header End ===== -->
          
          <div class="mx-auto max-w-screen-2xl p-4 md:p-6">
            <!-- Flash Messages -->
            <% if notice %>
              <div class="mb-6 bg-teal-50 border border-teal-200 rounded-md p-4 dark:bg-teal-800/10 dark:border-teal-900 dark:text-teal-500">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="size-4 text-teal-400 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.061L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                  </div>
                  <div class="ms-3">
                    <p class="text-sm text-teal-800 dark:text-teal-400">
                      <%= notice %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>

            <% if alert %>
              <div class="mb-6 bg-red-50 border border-red-200 rounded-md p-4 dark:bg-red-800/10 dark:border-red-900">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="size-4 text-red-400 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                  </div>
                  <div class="ms-3">
                    <p class="text-sm text-red-800 dark:text-red-400">
                      <%= alert %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>

            <!-- Page Content -->
            <%= yield %>
          </div>
        </main>
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
  </body>
</html>